h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#nepal_pic {
    height: 640px;
}

.social-icon {
    height: 50px;
}

body {
    background-color:#E8DB7D;
    color: #black;
}

a {
    color: #black;
    text-decoration: none
}
